**

!go.mod
!go.sum
!Dockerfile.oci-plugin

!cmd/
!cmd/**/
!cmd/*.go
!cmd/**/*.go

!internal/
!internal/**/
!internal/*.go
!internal/**/*.go

!bin/
!bin/e2e/
!bin/e2e/openbao-plugin-secrets-sync

!dist/
!dist/release/
!dist/release/openbao-plugin-secrets-sync_*
!dist/e2e/
!dist/e2e/oci/
!dist/e2e/oci/release/
!dist/e2e/oci/release/openbao-plugin-secrets-sync_*

!test/
!test/e2e/
!test/e2e/kind/
!test/e2e/kind/Dockerfile

**/.DS_Store
**/artifacts/**
